.containerrClass {
    padding: 20px;
    background-color: #F7F9BC;
    margin-top: 10vh;
}

.clgClass, .detStyle{
    margin-top: 10px;
    font-weight: bold;
}

.descrStyle{
    margin-top: 10px;
}
.moreDetStyle{
    margin-top: 10px;
}

.containerClass {
    padding: 20px;
    background-color: #F7F9BC;
    margin-top: 10vh;
}
