.containerrClass {
    padding: 20px;
    background-color: #F7F9BC;
    margin-top: 10vh;
}

.clgClass,
.detStyle {
    margin-top: 10px;
    font-weight: bold;
}

.descrStyle {
    margin-top: 20px;
}

.moreDetStyle {
    margin-top: 20px;
}

.containerClass {
    padding: 20px;
    background-color: #F7F9BC;
    margin-top: 10vh;
}


.footer-container {
    /* border: 1px solid; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* background: url("./images/cool-background.png"); */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.footer-detailClass {
    flex-direction: column;
    display: flex;
    width: 30vw;
    padding: 20px;
}




.footer-name {
    font-weight: bold;
}

.footer-textClass {
    margin-top: 20px;
}

.linksClass {
    width: 30vw;
    padding: 20px;

}

.optionsClass {
    margin-top: 10;
}

.optionsClass:hover {
    cursor: pointer;
    color: blue;
}

.contactClass {
    padding: 20px;

}

.contact {
    font-weight: bold;
}

.locationClass {
    display: flex;
    margin-top: 10;
}

.callClass {
    display: flex;
    margin-top: 10;
}

.emailClass {
    display: flex;
    margin-top: 20px;
}

.pic-name {
    margin-top: 20px;
}

.pic-text {
    font-weight: bold;
}

.photo {
    width: 30vw;
    height: 70vh;
    margin-left: 34vw;
    margin-top: 2vh;
}

.shlokText {
    font-size: 30;
    font-weight: bold;
}

.shlokBox {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.schoolText {
    font-weight: bold;
    font-size: 30px;
}

.school {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 2vh;
}

@media screen and (max-width: 800px) {
    .footer-container {
        flex-direction: column;

    }

    .footer-detailClass {
        width: 90vw;
        margin: auto;
        /* border: 1px solid; */
    }

    .linksClass {
        width: 90vw;
        margin: auto;
    }

    .contactClass {
        width: 90vw;
        margin: auto;
    }

    .photo {
        width: 80vw;
        height: 40vh;
        margin-left: 10vw;
    }
}